@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Monoton&family=Nosifer&family=Rubik+Beastly&display=swap");
* {
  margin: 0;
  padding: 0;
}

.header-container {
  font-family: "Nosifer", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: brown;
}
.score-board {
  display: flex;
  justify-content: space-evenly;
  color: brown;
  font-size: 1.4em;
  font-family: "Nosifer", cursive;
}
